body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F7F5;
  margin: 0;
}

header {
  background-color: #BCD4B5;
  padding: 10px;
}

/* CSS van de progress bar */
.progress {
  border-bottom: 4px solid #89C272;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* De section krijgt een grid die autofit zodat de pagina responsive is*/
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #B2C6A8;
}

h1 {
  text-align: center;
}

article {
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 40px 150px;
  background-color: #F8F7F5;
  border-radius: 10px;
}

article h1 {
  text-align: left;
}

.profilephoto {
  width: 300px;
  height: 375px;
  grid-column: 1/3;
}

.button {
  grid-column-end: -1;
  justify-self: end;
}

article p {
  grid-column: 1/3;
  max-width: 300px;
}

p {
  font-family: 'Merriweather', serif;
}

/* Wanneer er geen javascript is zal de knop die gebruikt wordt voor het laten zien
 van de bio weg gaan bron: https://stackoverflow.com/questions/6724515/what-is-the-purpose-of-the-html-no-js-class*/
.no-js .button {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Visuallyhidden class om dingen onzichtbaar te maken van https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/*/
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}